@import "../../assets/scss/app.scss";

.timerBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 134px;

  &:not(:first-child) {
    margin-left: 15px;
  }

  .nums {
    display: flex;

    .item {
      width: 65px;
      height: 79px;
      position: relative;
      @include center();

      &:first-child {
        margin-right: 4px;
      }

      img {
        position: absolute;
        top: calc(50% + 5px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 71px;
        height: 85px;
        display: block;
      }

      p {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: 0.01em;
        color: #FAFAFA;
      }

    }
  }

  .title {
    margin-top: 20px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #B8B8B8;
  }


}