@import "../../assets/scss/app.scss";

.home {
  padding: 90px 0px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  //overflow: hidden;

  @include tablet() {
    padding: 96px 0px 52px;
  }

  @include desktop() {
    padding: 100px 0 50px ;
    width: 100%;
    //height: 100vh;
    //justify-content: center;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .title {
      width: calc(100% - 2 * 17px);
      height: auto;

      @include tablet() {
        width: calc(100% - 2 * 43px);
      }

      @include desktop() {
        width: 893px;
        height: 200px;
      }
    }

    .heroesPhoneImg {
      width: 100%;
      height: auto;

      @include tablet() {
        display: none;
      }
    }

    .heroesImg {
      display: none;

      @include tablet() {
        display: block;
        width: 120%;
        height: auto;
        margin-top: -30px;
      }

      @include desktop() {
        margin-top: -125px;
        width: 1198.21px;
        height: 753.23px;
      }
    }

    .btnBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      margin-top: -40px;

      @include desktop() {
        margin-top: -40px;
      }


      .btnWrapper {
        position: relative;

        .btn {
          border: none;
          width: 231px;
          height: 52px;
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          //overflow: hidden;
          margin: 0 16px;

          span {
            z-index: 2;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #000000;
            transform: translateY(-1px);
          }

          .progress {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -250%);
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #FFF;
          }

        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 353px;
          height: 174px;
          display: block;
        }
      }

      .btnAside {
        display: none;

        @include tablet() {
          display: block;
          width: 210px;
          height: 19px;
        }

        @include desktop() {
          width: 313px;
          height: 28.23px;
        }

      }

    }


  }

  .blur {
    position: absolute;
    left: 0;
    width: 100vw;
    bottom: -10px;
    height: 754px;
    //object-fit: ;
  }

}